body {
margin: 0;
padding: 0;
background-color: #000;
color: white;
background-image: url(bg.png);
background-repeat: repeat-x;
font: small Arial, Helvetica, Verdana, sans-serif;
}

h1 {
border-top: 1px solid #b9d2e3;
border-bottom: 1px solid #b9d2e3;
}
#wrapper {
background-color: #fdf8f2;
color: black;
margin: 30px 40px 30px 40px;
padding: 10px;
}

#header-bottom {
border-top: 1px solid #b9d2e3;
border-bottom: 1px solid #b9d2e3;
}

#header-bottom ul {
margin: 0;
padding: 0 30px 0 0;
text-align: right;
}
#header-bottom li {
display: inline;
}
#header-bottom a:link, #header-bottom a:visited {
text-decoration: none;
background-color: #fdf8f2;
color: #050845;
}

#tagline {
font-weight: bold;
background-color: #fdf8f2;
color: #050845;
font-style: italic;
margin: 0;
padding: 0 0 0 20px;
width: 300px;
float: left;
}
#awalan {
font-weight: bold;
color: #050845;
text-decoration: underline;
margin: 0;
padding: 0 0 0 20px;
width: 300px;
}

#main {
margin-top: 10px;
position: relative;
top:0;
left: 0;
width: 100%;
}

#content {
margin: 0 240px 0 0;
border: 1px solid #b9d2e3;
background-color: white;
color: black;
}

#sidebar {
position: absolute;
top: 0;
right: 0;
width: 220px;
background-color: #256290;
color: white;
margin: 0;
padding: 0 0 0 15px;
}

#footer {
text-align: center;
}